.container
{
 max-width: 120rem;
 margin: 8rem auto;
 background-color: var(--grey-light-1);
 box-shadow: val(--shadow-dark);
 min-height: 50rem; 
 
 @media only screen and (max-width:$bp-largest) {
  margin: 0;
  max-width: 100%;
  width: 100%;
 }
}

.header
{
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content:space-between;
  align-items: center;

  @media only screen and (max-width:$bp-small) {
    flex-wrap: wrap;// wrap to a new line if there are no available space
    height: 12rem;
    align-content: space-around;
   }
  
}

.content
{
    display: flex;

    @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
      }
}

.sidebar
{
  background-color: var(--secondary-color);
flex: 0 0 18%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

  .hotel-view
{
  background-color: #fff;
  flex-grow: 1;

}

.detail
{
  display: flex;
  padding: 2.5rem;
  background-color: var(--grey-light-4);
  border-bottom: 1px solid var(--grey-light-2);
  font-size: 1.4rem;

  @media only screen and (max-width:$bp-medium) {
    padding:1rem;
  }

  @media only screen and (max-width:$bp-small) {
      flex-direction: column;
    }

}

.description
{
background-color: #fff;
flex:0 0 60%;
margin-right: 4.5rem;
box-shadow: var(--shadow-dark);
font-size: 1.4rem;
padding: 2rem 4rem;

@media only screen and (max-width:$bp-medium) {
margin-right: 2.5rem;
padding: 2rem;
}

@media only screen and (max-width:$bp-small) {
  margin-right: 0;
  margin-bottom: 3rem;
}


}

.user-reviews
{
flex-grow: 1;
display: flex;
flex-direction: column;
align-items: center;

}

